<!-- app/views/layouts/_menu.html.erb -->
<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Data User (Kasir)', data_user_path %></li>
    <li><%= link_to 'Data Distributor', data_distributor_path %></li>
    <li><%= link_to 'Data Penerbit', data_penerbit_path %></li>
    <li><%= link_to 'Data Kategori Buku', data_kategori_buku_path %></li>
    <li><%= link_to 'Data Jenis Buku', data_jenis_buku_path %></li>
    <li><%= link_to 'Data Buku', data_buku_path %></li>
    <li><%= link_to 'Pencarian Buku (1)', pencarian_buku_1_path %></li>
    <li><%= link_to 'Pencarian Buku (2)', pencarian_buku_2_path %></li>